* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

canvas {
    background-color: #ddd;
}

#legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    
    opacity: 0.4;
    display: none;
}

#legend:hover {
    opacity: 1.0;
    box-shadow: 0 0 5px 2px #999;
}

.euler {
    color: #ff3333;
}

.mid_point {
    color: #009900;
}

.forth_order {
    color: #3366ff;
}

#author {
    margin-top: 10px;
}